<!DOCTYPE html>
<html>

<head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
 
</head>

<body>
    <div class="contain-fluid">
        <div class="container">
            <h1><%=title%></h1>
            <div class="row">
                <div class="col-sm-8 col-lg-8 left-section">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="selectall" /></th>
                                <th>Task</th>
                                <th>Type</th>
                                <th>Due Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%
                                data.forEach(function(element, index)
                                {                
                            %>                           
                                <tr>
                                    <td><input type="checkbox" class="case" value="<%=element.id%>" /></td>
                                    <td><%=element.description%></td>
                                    <td><%=element.task_type%></td>
                                    <td><%=element.date%></td>
                                </tr>                        
                            <%            
                                }) %>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4 col-lg-4 right-section">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" id="description" rows="3" name="description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="task_date">Date</label>
                        <input type="text" class="form-control date-picker" id="date" name="date" required />
                    </div>
                    <div class="form-group">
                        <label for="select_task">Type</label>
                        <select class="form-control" id="select_task" name="task_type" required>
                            <option>New Action</option>
                            <option>Waiting</option>
                            <option>Talk</option>
                            <option>Future</option>
                            <option>Someday/Maybe</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger" id="delete_btn">Delete</button>
                        <button type="button" class="btn btn-primary" id="add_btn">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
        $(function () {
            $('#delete_btn').click(function () {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false,
                })

                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        var temp = $('.case');
                        var del_id = [];
                        for (i = 0; i < temp.length; i++) {
                            if (temp[i].checked == true){
                                del_id.push(temp[i].value);
                            } 
                        }
                        $.ajax({
                            method: "POST",
                            url: "/api/deletes",
                            data: { del_ids: del_id.join(',') }
                        })
                        .done(function( msg ) {
                            swalWithBootstrapButtons.fire(
                                'Deleted!',
                                'Your task has been deleted.',
                                'success'
                            )
                            if (msg==''){
                                $('tbody tr').remove();
                                $('#selectall')[0].checked = false ;
                            }
                            var str ='';
                            for (x in msg) {                       
                                str +='<tr><td><input type="checkbox" class="case" name="case" value="'+msg[x].id+'"/></td>';
                                str += '<td>' + msg[x].description + '</td>';
                                str += '<td>' + msg[x].task_type + '</td>';
                                str += '<td>' + msg[x].date + '</td></tr>';
                                $("tbody").html(str);    
                            }
                        });

                        
                    } else if (
                        // Read more about handling dismissals
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                            'Cancelled',
                            'To delete this task is canceled)',
                            'error'
                        )
                    }
                });
            });

            $(".date-picker").datepicker({
                dateFormat: 'yy-mm-dd'
            });
            $('#add_btn').click(function () {
                $.ajax({
                    url: "/api/users",
                    datatype: 'html',
                    type: 'post',
                    data: {
                        description: $('#description').val(),
                        date: $('#date').val(),
                        task_type: $('#select_task').val()
                    },
                    success: function (result) {                     
                        var str ='';
                        for (x in result) {                     
                            str +='<tr><td><input type="checkbox" class="case" name="case" value="'+result[x].id+'"/></td>';
                            str += '<td>' + result[x].description + '</td>';
                            str += '<td>' + result[x].task_type + '</td>';
                            str += '<td>' + result[x].date + '</td></tr>';
                            $("tbody").html(str);    
                        }
                    }
                });
            });
        });
        

        $("#selectall").click(function () {
                var temp = $('.case');
                for (i = 0; i < temp.length; i++) {
                    temp.eq(i)[0].checked = this.checked;
                }
            });
        $("tbody").on("click", ".case",function () {
               
                if ($(".case").length == $(".case:checked").length) {
                    $("#selectall")[0].checked = true;
                } else {
                    $("#selectall")[0].checked = false;
                }

            });
        
    </script>
</html>